<!DOCTYPE html>
<html>
<head>
	<title>RealOffice - Dashboard</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'meeting/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'meeting/fullcalendar.min.css' %}">
    <script type="text/javascript" src="{% static 'meeting/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meeting/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meeting/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meeting/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meeting/addreqs.js' %}"></script>

    <style>
        .reminder{
            /*background: #e3eae3;*/
            /*border-radius: 5px;*/
            padding: 10px;
            margin-bottom: 5px; 
        }

        .reminder:hover{
            background: #e3eae3;
            border-radius: 5px;
        }

        .reminder-wrapper{
            margin-top: 10px;  
            margin-bottom: 10px;  
            border-bottom: 1px solid #ddd;
        }

        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border-top: 0px;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .fc-event-container{
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">RealOffice</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/dash/">Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Log Out</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#settingsTab"><span class="glyphicon glyphicon-user"></span>&nbsp;<span id="user">{{ username }}</span></a></li>
        </ul>
    </div>
</nav>

<!-- Dashboard Panel -->
<div class="col-md-9" style="padding-right: 0px;">
<div class="panel panel-default" style="height: 88vh; margin-bottom: 0px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Dashboard</div>
    
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li  class="active">
                <a data-toggle="tab" href="#addRequirementsTab"><span class="glyphicon glyphicon-plus" style="margin-right:5px;"></span>Requirements</a>
            </li>
            <li style="display:none" id="reminderId">

                <a data-toggle="tab" href="#addRemindersTab"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user" style="margin-right:5px;"></span>Reminders</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="addRequirementsTab" class="tab-pane fade in active">
                <br>
                {% if requirements|length > 0 %}
                <div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>Quantity</th>
                          <th>Cost</th>
                          <th>Approved</th>
                          <th>Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for requirement in requirements %}
                        <tr>
                          <td>{{requirement.item}}</td>
                          <td>{{requirement.qty}}</td>
                          <td>{{requirement.cost}}</td>
                          <td>{{requirement.isApproved}}</td>
                          <td>{{requirement.orderDetails}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                {% endif %}
                <div>
                    <div class="form-group">
                        <label for="new_person_item">Item:</label>
                        <input type="text" class="form-control" id="new_person_item" required>
                    </div>
                    <div class="form-group">
                        <label for="new_person_qty">Quantity:</label>
                        <input type="text" class="form-control" id="new_person_qty" required>
                    </div>
                    <div class="form-group">
                        <label for="new_person_cost">Cost:</label>
                        <input type="text" class="form-control" id="new_person_cost" required>
                    </div>
                    <div class="form-group">
                        <label for="orderDetails">Order details:</label>
                        <input type="text" class="form-control" id="orderDetails" required>
                    </div>

                    <button id="add_new_requirement" class="btn btn-default">Add Requirement</button>
                </div>
            </div>
            <div id="addRemindersTab" class="tab-pane fade">
                <br>
                <div>
                    <div class="form-group">
                        <label for="new_person_recipient">Receiver:</label>
                        <input type="text" class="form-control" id="new_person_recipient" required>
                    </div>
                    <div class="form-group">
                        <label for="new_person_type">Staff?:</label>
                        <input type="checkbox" id="new_person_type" checked="">
                    </div>
                    <div class="form-group">
                        <label for="new_person_purpose">Purpose:</label>
                        <input type="text" class="form-control" placeholder="Ex. Check projector placement"id="new_person_purpose" required>
                    </div>
                    <!-- <div class="form-group">
                        <label for="remindTime">Time to remind:</label>
                        <input type="text" class="form-control" id="remindTime" required>
                    </div> -->

                    <button id="add_new_reminder" class="btn btn-default">Add Reminder</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Reminders Panel -->
<!-- <div class="col-md-3">
<div class="panel panel-default" style="height: 88vh; margin-bottom: 0px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Reminders</div>
    
    <div class="panel-body" style="padding-top: 0px;">
        {% for reminder in reminders %}
        <div class="reminder-wrapper">
            <div class="reminder">
                {{reminder.purpose}} of {{reminder.notificationsFor.name}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
 -->
<!-- Temp Modal triggers -->
<div class="col-md-12" style="display: none">
<div class="panel panel-default" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="panel-heading">Temp Triggers</div>
    
    <div class="panel-body" style="padding-top: 0px;">
        <br>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addMeetingModal">Add Meeting</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewMeetingModal">View Meeting</button>
    </div>
</div>
</div>

<!-- View Meeting Modal -->
<div id="viewMeetingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Meeting: <span id="view_meeting_name"></span></h4>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <tr>
                    <td style="width: 200px; text-align: right;">
                        Meeting Workflow
                    </td>
                    <td>
                        <span id="view_meeting_type"></span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align: right;">
                        Venue
                    </td>
                    <td>
                        <span id="view_meeting_venue"></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Start Time
                    </td>
                    <td>
                        <span id="view_meeting_start"></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        End Time
                    </td>
                    <td>
                        <span id="view_meeting_end"></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Organizer
                    </td>
                    <td>
                        <span id="view_meeting_organizer"></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Participants
                    </td>
                    <td>
                        <span id="view_meeting_participants"></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        RSVPed
                    </td>
                    <td>
                        <span id="view_meeting_headcount"></span>
                    </td>
                </tr>
                <tr id="add_req_container">
                    <td style="text-align: right; width: 200px;">
                        Requirements
                    </td>
                    <td id="req_container">    
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button id="del_meeting" type="button" class="btn btn-danger pull-left">Delete</button>
            <button id="reschedule_meeting" type="button" class="btn btn-info pull-left">Reschedule</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
            <div id="reschdule_form" style="display: none">
                <div class="row" style="margin-top: 10px;">
                    <div class="form-group col-md-4">
                        <label for="reschedule_meeting_date" class="pull-left">Date:&nbsp;</label>
                        <input type="date" class="form-control" id="reschedule_meeting_date" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="reschedule_meeting_stime" class="pull-left">Start Time:&nbsp;</label>
                        <input type="time" class="form-control" id="reschedule_meeting_stime" required>
                    </div>
                    <div class="form-group col-md-3"  style="padding-right: 0px;">
                        <label for="reschdule_meeting_etime" class="pull-left">End Time:&nbsp;</label>
                        <input type="time" class="form-control" id="reschdule_meeting_etime" required>
                    </div>
                    <div class="form-group col-md-2"  style="padding-right: 0px;">
                        <label>&nbsp;</label><br>
                        <button id="update_reschedule" type="button" class="btn btn-default pull-left">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<!-- Loading Modal -->
<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 35vh;">
                <div class="col-md-12" style="height: inherit; vertical-align: middle; text-align: center;">
                    <div class="loader" style="margin: auto;"></div>
                    <br>
                    <h1>Setting Things Up!</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Status Modal -->
<div id="statusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 16vh; vertical-align: middle; text-align: center;">
                <h1 id="status_heading"></h1>
            </div>
        </div>
    </div>
</div>

</body>
</html>